/* SECCION SOBRE MI */
.sobreMi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobreMi .contenido-section{
    max-width: 1100px;
    margin: auto;
}

.sobreMi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    transition: .3s;
}

.sobreMi .contenido-section p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobreMi .contenido-section p span{
    color:#1CB698;
    font-weight: bold;
}

.sobreMi .fila{
    display: flex;
}
.sobreMi .fila .col{
    width: 50%;
}
.sobreMi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    padding: 25px;
}
.sobreMi .fila .col ul{
    list-style: none;

}
.sobreMi .fila .col ul li{
    margin: 12px 0;

}

.sobreMi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;

}
.sobreMi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobreMi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobreMi .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #252a2e ;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;

}
.sobreMi .fila .col .contenedor-intereses .intereses:hover {
    background-color: #1CB698;
}

.sobreMi .fila .col .contenedor-intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobreMi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position:relative;
    border-radius: 10px;
    z-index: 10;
}


.sobreMi button .overlay{
    border-radius: 10px;
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobreMi button:hover .overlay{
    width: 100%;
}